@page "{id}"
@model LogisticsBooking.FrontEnd.Pages.Client.Bookings.OrderSingleModel

@{
    ViewData["Title"] = "Home page";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-xl-8">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Booking</h6>
                </div>
                <div class="card-body">
                    <p class="mb-3">Opdater den ønskede information ved at redigere i det passende felt, og tryk derefter 'Opdater'</p>
                                    <form method="post" class="text-left">
                                        <div class="form-group"> <label for="form18">Kommentar</label> <input asp-for="OrderViewModel.Comment" class="form-control" id="form18" name="ViewComment"> </div>
                                        <div class="form-group"> <label for="form18">Kunde nr</label> <input asp-for="OrderViewModel.CustomerNumber" class="form-control" id="form18" name="ViewCustomerNumber"> </div>
                                        <div class="form-group"> <label for="form18">Ordre nr</label> <input asp-for="OrderViewModel.OrderNumber" class="form-control" id="form18" name="ViewOrderNumber"> </div>
                                        <div class="form-group"> <label for="form18">Vare nr</label> <input asp-for="OrderViewModel.WareNumber" class="form-control" id="form18" name="ViewWareNumber"> </div>
                                        <div class="form-group"> <label for="form18">Antal bundpaller</label> <input asp-for="OrderViewModel.BottomPallets"  class="form-control" id="form18" name="ViewBottomPallets"> </div>
                                        <div class="form-group"> <label for="form18">Ordre id</label> <input asp-for="OrderViewModel.ExternalId" class="form-control" id="form18" name="ViewExternalId"> </div>
                                        <div class="form-group"> <label for="form18">Total antal paller</label> <input asp-for="OrderViewModel.TotalPallets"  class="form-control" id="form18" name="ViewTotalPallets"> </div>
                                        <div class="form-group"> <label for="form18">Total Ind/Ud</label> <input asp-for="OrderViewModel.InOut"  class="form-control" id="form18" name="ViewInOut"> </div>
                                        <div class="form-group"> <label for="form18"></label> <input asp-for="OrderViewModel.OrderId" type="hidden"  class="form-control" id="form18" name="id" value="@Model.OrderViewModel.OrderId"> </div>
                                        <div class="row d-flex justify-content-end">
                                        <button type="submit" asp-page-handler="Update" class="btn btn-lg btn-info m-2" Opdater value="Opdater">Opdater</button>
                                        <div class="btn btn-lg btn-danger m-2"  data-toggle="modal" data-target="#opret">Slet</div>
                                        </div>
                                        <input type="hidden" name="bookingId" value="@Model.BookingId"/>
                                    </form>


                </div>
            </div>
        </div>


        <div class="col-xl-2"></div>

    </div>
</div>





<div class="modal fade" id="opret" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
                  <p class="spaced-typography">Du er ved at slette denne ordre. Dette er en permanent handling. Tryk 'bekræft' for at fortsætte. Tryk på krydset for at annullere.</p>
      </div>
        <div class="modal-footer">
             <form asp-page-handler="delete" method="post">
<input type="hidden" name="bookingId" value="@Model.BookingId"/>
                       <button class="btn btn-danger">Bekræft</button>
<button class="btn btn-outline-info"data-dismiss="modal" >Go Back</button>
                   </form>
        </div>
    </div>
  </div>
</div>




@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    

    <script>
        $(function () {
            $("#example").DataTable();
        });

    </script>

    <script>
        $(window).load(function () {
            $(".trigger_popup_fricc").click(function () {
                $('.hover_bkgr_fricc').show();
            });
            $('.hover_bkgr_fricc').click(function () {
                $('.hover_bkgr_fricc').hide();
            });
            $('.popupCloseButton').click(function () {
                $('.hover_bkgr_fricc').hide();
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            var options = {
                inlineCss: false
            };
            $("a.six").on("click", function (e) {
                e.preventDefault();
                $(this).simplePopup(options);
            });
        });
    </script>
}