
@model LogisticsBooking.FrontEnd.DataServices.Models.ApplicationUser.ApplicationUserViewModel

<div class="">
    <i class="fas fa-user"></i>
    <span class="ml-2 mr-2 d-none d-lg-inline text-gray-600 small">@Model.Email</span>
</div>




