@page
@using LogisticsBooking.FrontEnd.DataServices.Models.Schedule.DetailSchedule
@model LogisticsBooking.FrontEnd.Pages.Client.Dashboard







<!-- Begin Page Content -->
<div class="container-fluid">

<div class="d-sm-flex align-items-center justify-content-start mb-4">
    <h1 class="h3 mb-0 colorred">Dashboard</h1>
    
</div>


</div>
<!-- /.container-fluid -->





