@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

@{
    Layout = "_ErrorLayout";
}


         <div class="text-center">
             <div class="mt-5 mb-5 error mx-auto" >Der er sket en fejl</div>
             <a class="mt-5" asp-page="/Client/Dashboard">&larr; Prøv at gå tilbage til Dashboard</a>
             <br/>
             <a class="lead text-gray-800 mb-5">Eller prøv at logge ud og logge ind igen her</a>
             <form method="post">
                 <button class="mt-2 mb-5 btn btn-primary">Log ud</button>
             </form>
             <small class="mt-5">Hvis intet virker kontakt os på <a href = "mailto: admin@logistictechnologies.eu">admin@logistictechnologies.eu</a> og vi vil vende tilbage til dig</small>
            
            
          </div>
