@page
@using Microsoft.AspNetCore.Localization
@model LogisticsBooking.FrontEnd.Pages.Client.Settings.SettingsOverview


@{
    var requestCultureFeature = HttpContext.Features.Get<IRequestCultureFeature>();
    var requestCulture = requestCultureFeature.RequestCulture;
    var culture = CultureInfo.CurrentCulture.Name;
    }



<div class="row">
    <div class="col-xl-2">
        
    </div>
    <div class="col-xl-8">
        
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Indstillinger</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="flex-column col-xl-3">
                        <p id="languageClick">Sprog</p>
                        <p id="SchedulesClick">Schedules</p>
                    </div>
                    <div id="language" class=" d d-flex justify-content-center col-xl-9">
                       
                        @await Component.InvokeAsync("CultureSwitcher")                    
                    </div>
                    <div id="Schedules" class="d-none justify-content-center col-xl-9">
                                           
                        <p>Schedules</p>                 
                    </div>
                    
                    
                </div>
                
            </div>
        </div>


    </div>
    <div class="col-xl-2">
            
    </div>
</div>


@section Scripts
{

    <script>
    $('#languageClick').on('click', function(){
        $('.d').each(function(i, obj) {
            $(this).addClass('d-none')
            $(this).removeClass('d-flex')
        });
        
        $('#language').addClass('d d-flex');
        $('#language').removeClass('d-none');
        
    });
    
    $('#SchedulesClick').on('click', function(){
            $('.d').each(function(i, obj) {
                $(this).addClass('d-none')
                $(this).removeClass('d-flex')
            });
            
            $('#Schedules').addClass('d d-flex');
            $('#Schedules').removeClass('d-none');
            
        });
    </script>
}
